@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* scrollbar */
::-webkit-scrollbar {
  background: #d4b1d3;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a987a8;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #693b69;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(135deg, #ecd4ea 10%, #693b69 100%);
  height: auto;
  background-repeat: no-repeat;
  min-height: 100vh;
}

html,
body {
  width: 100%;
  place-items: flex-start;
}

::selection {
  background: #a987a8;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-around;
}

.wrapper {
  width: 650px;
  background: #fff;
  border-radius: 15px;
  margin-top: 25px;
  margin-left: 145px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper form {
  padding: 10px 20px 20px 20px;
}

.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.wrapper form .field input,
textarea {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.wrapper form .field input:focus,
form .field input:valid {
  border-color: #a987a8;
}

.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #a987a8;
  background: #fff;
  transform: translateY(-50%);
}

form .field button {
  color: #fff;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: #a987a8;
  transition: all 0.3s ease;
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 25px;
}

form .field button:active {
  transform: scale(0.95);
}

.posts {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: 110px;
}

.posts .box {
  width: 100%;
  background: #fff;
  display: flex;
  margin: 10px 10px;
  padding: 20px 30px;
  border-radius: 5px;
  flex-direction: column;
}
.posts .box .post{
  width: 100%;
  display: flex;
}

.posts .box hr{
  color: #693b69;
}

.posts .box .post .user_data,
.posts .box .post .post_data {
  padding: 10px;
}

.posts .box .post .user_data .image {
  margin: 10px 0;
  height: 100px;
  width: 100px;
  background: #a987a8;
  padding: 3px;
  border-radius: 50%;
}

.box .post .user_data .image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.box .comments .postComment{
  background-color: #ffdbfe;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.box .post .post_data p ,
.box .comments .postComment p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}

.box .post .user_data .username,
.box .post .post_data .post_title,
.box .comments .postComment .username{
  margin: 10px 0 3px 0;
  color: #a987a8;
  font-size: 18px;
  font-weight: 600;
}

.comment {
  margin-top: 20px;
  height: 50px;
}

.comment #inputComment {
  height: 100%;
  width: 60%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.comment #inputComment:valid {
  border-color: #a987a8;
}

.comment .btnComment {
  color: #fff;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: #a987a8;
  transition: all 0.3s ease;
  height: 100%;
  width: 35%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 25px;
}

.comment .btnComment:active {
  transform: scale(0.95);
}

.Delete{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  background: #a987a8;
  transition: all 0.3s ease;
  height: 50px;
  width: 35%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 25px;
  margin-top: 8px;
}

aside {
  width: 25%;
  background: #fff;
  height: auto;
  border-radius: 15px;
  margin-top: 25px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrap-users {
  padding: 30px;
  height: 100%;
}

.wrap-users h2 ,
.comments h2{
  color: #693b69;
}

.users {
  margin-top: 10px;
  max-height: 90vh;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-radius: 8px;
}

.user .image {
  margin: 10px 0;
  height: 100px;
  width: 100px;
  background: #a987a8;
  padding: 3px;
  border-radius: 50%;
}

.user .image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.user .username {
  margin: 10px 0 3px 0;
  color: #a987a8;
  font-size: 18px;
  font-weight: 600;
}

.profile {
  height: 310px;
  padding: 5px;
}

.profileUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-radius: 8px;
}

.profileUser .profileimage {
  margin: 10px 0;
  height: 200px;
  width: 200px;
  background: #a987a8;
  padding: 3px;
  border-radius: 50%;
}

.profileUser .profileimage img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.profileUser .profileUsername,
.profileUser .profileEmail {
  margin: 10px 0 3px 0;
  color: #a987a8;
  font-size: 18px;
  font-weight: 600;
}
